{% extends 'base.html.twig' %}
{% block title %}Error {{ status_code }} {% endblock %}
{% block body %}
    <h1>{{ status_text }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}
{% block navigation %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .header {
            min-width: 100%;
            justify-content: center;
        }
        .main-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}
