{% extends 'blog_base.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block header %}
    <header>
        <h1><a href="{{ path('blog_list') }}">My Blog</a></h1>
    </header>
{% endblock %}
{% block post %}
    <h2 style="text-align: center;">{{ post.title }}</h2>
    <p class="post_content">
        {{ post.content}}
    </p>
    <p style="text-align: right; width: 50%; margin: 0 auto;">{{ post.author }}</p>
{% endblock %}
